body{
  background-color: lightBlue;
}

#board{
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  #queuedBoard{
    color: green;
  }
  #inProgressBoard{
    color:yellow;
  }
  #DoneBoard{
    color:red;
  }
}

#task{
  border: black solid 1px;
}


#header{
  text-align:center;
}