body {
  background-color: lightBlue; }

#board {
  display: flex;
  flex-direction: rows;
  justify-content: space-between; }
  #board #queuedBoard {
    color: green; }
  #board #inProgressBoard {
    color: yellow; }
  #board #DoneBoard {
    color: red; }

#task {
  border: black solid 1px; }

#header {
  text-align: center; }
